@charset "UTF-8";
/* Created by Mad Mobile Inc. */

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Common Styles
:: Header
:: Title Bar
:: Footer
:: Forms
:: Miscellaneous
*/

/*	--------------------------------------------------
	:: Common Styles
	-------------------------------------------------- */

html {
	-webkit-text-size-adjust: none;
}

input {
	text-indent: 0;
	font-weight: normal;
}

select {
	text-indent: 4px;
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	background-color:#000000;
}

a {
	color: #000000;
	text-decoration: underline;
}

a:visited {
	color: #000000;
	text-decoration: underline;
}

a:hover {
	color: #000000;
	text-decoration: none;
}


p {
	line-height: 1.45em;
	margin:  0 0 1em 0;
	font-size: 1.2em;
}


ul { list-style: disc; margin: 0; padding: 0; }
li { margin-left: 20px; padding-bottom: 12px; font-size: 1.2em; line-height: 1.4em; }

small { font-size: 1.1em; line-height: 1.4em; }
small a { color: #FFFFFF; }
small a:hover { color: #F99; }

