@charset "UTF-8";
/* --------------------------------------------------
	Created by Scott Headlee
	scotthea01@mac.com 
----------------------------------------------------- */

/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Coming Soon
:: Home
:: Header
:: Footer
:: Forms
:: Miscellaneous
*/


/*	--------------------------------------------------
	:: Home
	-------------------------------------------------- */

section.overview {
	border-bottom: solid 1px white;
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
}
section.logo {
	border-top: solid 1px #d5d5d5;
	border-bottom: solid 1px white;
	background: #e8e8e8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #e8e8e8 0%, #ffffff 25%, #ffffff 39%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(25%,#ffffff), color-stop(39%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top, #e8e8e8 0%,#ffffff 25%,#ffffff 39%,#f3f3f3 100%);
	background: -o-linear-gradient(top, #e8e8e8 0%,#ffffff 25%,#ffffff 39%,#f3f3f3 100%);
	background: -ms-linear-gradient(top, #e8e8e8 0%,#ffffff 25%,#ffffff 39%,#f3f3f3 100%);
	background: linear-gradient(to bottom, #e8e8e8 0%,#ffffff 25%,#ffffff 39%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f3f3f3',GradientType=0 );
}
section.sample {
	border-top: solid 1px #d5d5d5;
	border-bottom: solid 1px white;
	background: #e8e8e8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iI2Y5ZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #e8e8e8 0%, #f3f3f3 25%, #eeeeee 60%, #f9fafa 60%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(25%,#f3f3f3), color-stop(60%,#eeeeee), color-stop(60%,#f9fafa), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #e8e8e8 0%,#f3f3f3 25%,#eeeeee 60%,#f9fafa 60%,#ffffff 100%);
	background: -o-linear-gradient(top, #e8e8e8 0%,#f3f3f3 25%,#eeeeee 60%,#f9fafa 60%,#ffffff 100%);
	background: -ms-linear-gradient(top, #e8e8e8 0%,#f3f3f3 25%,#eeeeee 60%,#f9fafa 60%,#ffffff 100%);
	background: linear-gradient(to bottom, #e8e8e8 0%,#f3f3f3 25%,#eeeeee 60%,#f9fafa 60%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 );
}

.sample-descript {
	position: absolute;
	top: 100px;
	left: 50px;
	width: 240px;
}
.sample-descript h3, .sample-descript p, .sample-descript ul {
	margin-left: 14px;
}
.sample-descript h3 {
	border-bottom: solid 1px #dfdfdf;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.sample-descript ul {
	margin-top: 10px;
}

/*	--------------------------------------------------
	:: Logo Section
	-------------------------------------------------- */

.samples-logo {
	padding: 20px 0;
}
	.samples-logo ul {
		list-style: none;
		margin: 0 -10px;
		padding: 0;
	}
	.samples-logo li {
		display: inline-block;
		margin: 0 10px 10px;
		vertical-align: top;
	}
	
		.samples-logo li a {
			text-align: center;
			display: block;
			background-color: white;
			width: 163px;
			border: solid 1px #cdcdcd;
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
		}
		.samples-logo li a img {
			margin-top: 6px;
			vertical-align: bottom;
			width: 100%;
		}

/*	--------------------------------------------------
	:: Header
	-------------------------------------------------- */
	
/*	--------------------------------------------------
	:: Overview
	-------------------------------------------------- */
.overview {
	padding: 20px 0;
}
.overview h3 {
	margin: 0 0 10px;
}

/*	--------------------------------------------------
	:: Forms
	-------------------------------------------------- */
	
::-webkit-input-placeholder {
    color: #999;
	text-indent: 0;
}
:-moz-placeholder {
    color: #999;
	text-indent: 0;
}

.textfield {
	font-size: 1.1em;
	width:100%;
	line-height:32px;
	font-family:Arial, Helvetica, sans-serif;
	color:#999999;
	-webkit-appearance: none;
	box-sizing: border-box;
	border:#b5b5b5 1px solid;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.textfield input {
	width: 100%;
	height: 32px;
	border: none;
	background: none;
	-webkit-appearance: none;
	font-size: 1.2em;
	text-indent: 6px;
}

.textfield input::-webkit-input-placeholder { text-indent: 6px; }
.textfield input:-moz-placeholder { text-indent: 6px; }


/*	--------------------------------------------------
	:: Miscellaneous
	-------------------------------------------------- */

.sub-container { position: relative; border: solid 1px #818181; margin: 0 16px; padding-top: 10px; border-top: none; /*min-height: 310px;*/
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px; 
	border-bottom-right-radius: 4px;
}
.icon-click-to-call { margin-right: 4px; margin-bottom: -2px; }
.icon-view-map { margin-right: 4px; margin-bottom: -2px; }

.back-arrow { position: absolute; left: 10px; bottom: 14px; width: 20px; height: 20px; }
.next-arrow { position: absolute; right: 10px; bottom: 18px; width: 20px; height: 20px; }

.uppercase { text-transform: uppercase; }

.rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform:  rotate(180deg);
}

.right { float: right; }
.left { float: left; }

.master-margin { margin: 10px; }
.r-margin { margin-right: 4.5%; }
.clear { clear: both; }
.abs { position: absolute; top: 50%; margin-top: -12px; right: 0; }
.blue-text { color: #2cbbd6; }
.red { color: #ee3829; }

.fb-like { margin-left: 10px;}